---
- name: Configure Base Instance for AMI
  hosts: all
  become: yes
  vars:
    # These should be passed via extra vars or inventory
    db_host: "{{ lookup('env', 'TF_VAR_db_endpoint') | default('db.proxecto-asir.internal') }}"
    db_name: "todo"
    db_user: "admin"
    # db_password should be passed as extra var for security
    
  roles:
    - common
    - webserver
    - app
