---
- name: Copy application code
  copy:
    src: "{{ playbook_dir }}/../../app/TODO-Application/"
    dest: /var/www/html/
    owner: www-data
    group: www-data
    mode: '0755'

- name: Remove default index.html
  file:
    path: /var/www/html/index.html
    state: absent
